<h1>Add new customer</h1>
<%= simple_form_for(@customer) do |f|%>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.date_select :date_of_birth %><br />
  <%= f.button :submit %>
<% end %>